@import 'rupture'
@import 'axis'
@import 'grid'
@import 'lib/reset'

font-stack = georgia
header-font-stack = helvetica
body-font-size = 1.1rem
body-line-height = 1.6
desktop-ratio = 1.07

gutter = g = 3%
mobile = 28rem
tablet = 40rem
desktop = 50rem
site = 50rem + (2 * gutter)
rupture.scale = 0 (mobile) (mobile + ((tablet - mobile) / 2)) (tablet) (desktop) (site)
mobile-cutoff = rupture.mobile-cutoff = mobile
tablet = tablet-cutoff = rupture.tablet-cutoff = tablet
desktop-cutoff = rupture.desktop-cutoff = desktop
edges = site-max-width = max-site-width = max-width = rupture.hd-cutoff = site

@import 'vertical-rhythm'
@import 'typography'

.container
.page
  center site gutter
  padding-rhythm 1
